.hero .button{
    display: inline-block;
    padding: 10px 32px;
    border: 1 px solid transparent;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $accent-color;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-decoration: none;
    letter-spacing: 0.06em;
 }
 .post-social-button{
    width: 200px;
    height: 50px;
    margin-left: 12px;
    
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    
    letter-spacing: 0.06em; 
    
    color: #FFFFFF;
    
    
    &-send::after{
        content: url(../images/iconsend.svg);
        width: 24px;
        height: 24px;
        padding-left: 10px; 
        
        background-position: center;
    }
    & .social-icon{
               
        right: 8px; 
        top: 13px; 
        bottom: 13px; 
       
        width: 24px;
        height: 24px;
        
    }}
    .button-form{
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        width: 200px;
        height: 50px;
        
        margin-top: 30px;
        
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        
        color: #FFFFFF;
        }
        .policy-button-form{
            position: relative;
        }
        