.form{
    position: absolute;
    top: 100px;
    left: 40px;
    width: 448px;

}
.form-policy{
    color: $accent-color;

}

.form-group{
    display: flex;
    flex-direction: column;
    
&:not(:last-child){
    margin-bottom: 10px;
}
&:last-child{
    margin-bottom: 20px ;}
& input{
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;
    width: 100%;

}
& input, textarea:focus{
    outline-color: $accent-color;
}
& input, textarea{
transition-property: outline-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
&-picture{
    position: relative;
}
& textarea{
    height: 120px;
    width: 448px;

    border: 1px solid rgba(33, 33, 33, 0.2);

    border-radius: 4px;
}
& textarea::placeholder{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0,01em;
    text-align: left;
    
    }
    & input:focus + .picture{
        fill: $accent-color;
    }}

.form-label{
        
    width: 100%;
}


.form-textarea{
  padding: 12px 16px;
}



.icon-form{
    position: absolute;
}
