.logo-accent{
    color: $accent-color;
    }
.logo {
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.post-logo {
    margin-top: 0px;
    margin-bottom: 20px;

    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.post-logo-accent{
    color: $accent-color;
    margin-bottom: 20px;
    
}