.social-icon{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);

    
&-list{
    display: flex;
    justify-content: center;

}
&-item:not(:last-child){
margin-right: 10px;
}
&-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
    
}
&-link:hover,
&-link:focus{
    background-color: $accent-color;
}
&-link:hover &,
&-link:focus &{
    fill: #fff;
}


&.info.envelope{
    width: 16px;
    height: 12px;
}
&.info.smartphone{
    width: 10px;
    height: 16px;
}
&-partner{
    fill: #AFB1B8;
    
}
&-partner{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.welcom &{
    fill: #fff;
}}

.post-social-icon{
    margin-left: 70px;
    margin-right: 93px;
    }
.customer-icon-link{
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);

&:hover,
&:hover{
    border: 1px solid $accent-color;
}
&:hover .social-icon-partner,
&:focus .social-icon-partner{
    fill: $accent-color;
}
}