html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $primary-white-color;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration-line: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

a:focus,
a:hover {
  color: $accent-color;
}

@media screen and (min-width: 768px) {
  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }
}
