$primary-text-color: black;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-grey-color: #757575;
$background-blue-color: #f5f4fa;
$background-dark-color: #2f303a;
$icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
