.customer-icon-link{
    display: flex;
    height: 90px;
    width: 170px;
    justify-content: center; 
    align-items: center;
    
}
.section.client{
    padding-top: 60px;
    padding-bottom: 60px;
   
    @include for-size(desktop){
        padding-top: 94px;
        padding-bottom: 94px;
        // margin-bottom: 30px;

    } 

}
.customer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

 .item{
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;

    @include for-size(mobile){
        width: 210px;
        // margin-bottom: 30px;

    } 
    @include for-size(tablet){
        width: 226px;
         margin-bottom: 30px;

    } 
    @include for-size(desktop){
        width: 170px;
        
    } 
    
}
.item:nth-last-child(n+2){

    @include for-size(mobile-only){
         margin-bottom: 30px;

    } 
    @include for-size(tablet-only){
         margin-bottom: 30px;

    } 
}
}