.section.job {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #F5F4FA;
   background-size: cover;
   
   @include for-size(desktop){
      padding-top: 94px;
      padding-bottom: 94px;
   } 
}

.name{
   text-align: center;
   background: #FFFFFF;
   padding-top:30px ;
   padding-bottom: 30px;
 
 }
 .company-title {
   margin-top: 0px;
   margin-bottom: 10px;
 
   color: $title-text-color;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
 }
 
 .company-job {
   margin-top: 0px;
   margin-bottom: 16px;
 
   font-size: 16px;
   line-height: 1.19;
 }

.company{
  

   @include for-size(tablet){
  display: flex;
  flex-wrap: wrap;
  
   }

   .item{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF; 
  
    
}
@media screen and (min-width:768px) and (max-width: 1200px){
   .item{
      width: 354px;
   }
   .item:nth-child(2n){
   margin-left: 30px;
   }
   .item:nth-last-child(-n+2){
       margin-bottom: 0px;
   
   }
   }
  .item:nth-last-child(-n+2){
 @media screen and (min-width:768px) and (max-width: 1200px){
margin-top: 30px;
     }
}
@include for-size(tablet-only){
.item:not(:first-child){
   
   margin-top: 30px;
}
}
@include for-size(desktop){
.item{
   width: 270px;
}
.item:not(:first-child){
   margin-left: 30px;
}
}

}


