.mail {
  // display: none;
      margin-left: auto;
    
      @media screen and (min-width:768px) and (max-width:1200px){
        
          display: flex;
          flex-direction: column;

  } 
  @include for-size(desktop){
        display: flex;
   
  } 
  .item:first-child{
    @include for-size(tablet){
      margin-bottom: 10px;
    }
  }

  .item:not(:last-child){
      
    @include for-size(desktop){
    margin-right: 50px;
      }
    }
   .link {
   color: $primary-text-color;
   letter-spacing: 0.02em;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;

   transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
    .link:hover,
    .link:focus{
  color: $accent-color;  
}

    .link:hover .info,
    .link:focus .info
{
  fill: $accent-color;
}
}


.social-mail-phone{
  
   align-items: center;
   @include for-size(tablet){
    
    display: flex;

} 
@include for-size(desktop){
    
    display: flex;

} 
}


