.post {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;

    .title{
        color:#ffffff;
        font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
        
    }
}


.post-address:not(:last-child){
    margin-bottom: 9px;
&:last-child{
    padding-bottom: 60px ;
}
&:first-child{
margin-top: 20px;
}
}
.post-social{
    display: flex;
    flex: baseline;
}
        
.welcom{
    background-color: rgba(255, 255, 255, 0.1);
    
}

.post-social-input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    color:#ffffff;

    padding-left: 16px;
}
.address{
    color:#ffffff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;


     .link{
    margin-top: 9px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
}
