.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-dark-color;

  &__address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    padding-top: 20px;
    margin-bottom: 60px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  &__part {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__part .social__icon {
    fill: $primary-white-color;
  }

  &__part:not(:last-child) {
    margin-bottom: 60px;
  }
}

.contact__links {
  display: flex;
  flex-direction: column;
}

.contact__links--item {
  margin-top: 9px;
  color: $primary-grey-color;
}

.social__item:hover {
  background-color: $accent-color;
}

.form-input {
  height: 50px;
  width: 100%;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.sign__in--button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  height: 24px;
  width: 24px;
  padding-left: 10px;
  fill: $primary-white-color;
}
