.hero {
    padding-top: 200px;
    padding-bottom: 200px ;
    background-image: 
        linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/company.jpg);
    background-color: #2F303A; 
       
    max-width: 1600px;
    height: 600px;
    outline: 1px solid black;
   
    
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;


    margin-left: auto;
    margin-right: auto;

    letter-spacing: 0.06em;
    text-align: center;

&-title {
    margin-top:0;
    margin-bottom:30px;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase; 
 }
}