.page-header{
    position: relative;
}
.main-nav{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
   
}
.site-nav{
    //   margin-left: 93px ;
    
            @include for-size(tablet){
    
        display: flex;
        // margin-left: 88px ;

    } 
     @include for-size(desktop){
        
        // display: flex;

    } 
    
    .item:not(:last-child){
    margin-right: 50px;
    }

     .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
    @include for-size(tablet){
        display: flex;
    }
    }
     .link:hover, 
     .link:focus{
    color: $accent-color; 
    }
     .item{
    position: relative;

    @include for-size(tablet-only){
        width: 99px;
        height: 155;
    }
    }
     .current{
    color: $accent-color;
    }
    }
.mail-phone{
    display: inline-block;
}
.info{
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
@include for-size(tablet-only){
    .page-header{
        position: relative;
    }
   
.menu-conteiner{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    font-size: 18px;
   
    &.is-open{
        display: block;
        text-align: center;
         }
     
}

.burger-list{
    display: flex;
    justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
        margin-bottom: 60px;
        margin-top: 60px;
        font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.02em;

color: #212121;
}

.burger-mail{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
    margin-bottom: 60px;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.02em;

color: #757575;

 
}
.mail{
    
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);

    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

        .item{
            display: flex;
            &:first-child{
                margin-bottom: 16px;
            }
        }
    }


}
@include for-size(tablet){
    .burger{
        display: none;
    }
    .main-nav{

    display: flex;
                  
     align-items: center;
     align-content: space-between;
        }
    .main-nav{align-items: center;
            align-content: space-between;
        }
}





// .main-nav{

//     display: flex;
//     align-items: center;
  
// }
// .site-nav{
//     display: none;
//     margin-left: 93px ;
    
   
//     @include for-size(tablet){
    
//         display: flex;

//     } 
//     @include for-size(desktop){
        
//         display: flex;

//     } 
    
//     .item:not(:last-child){
//     margin-right: 50px;
// }

//      .link{
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: $title-text-color;
//     letter-spacing: 0.02em;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     text-decoration: none;

//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
// }
//      .link:hover, 
//      .link:focus{
//     color: $accent-color; 
// }
//      .item{
//     position: relative;
// }
//      .current{
//     color: $accent-color;
//     }
// }
// .info{
//     margin-right: 10px;
//     transition-property: fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
// }