.conteiner.project{
    padding-bottom: 94px;
    padding-top: 94px;
    margin-bottom: 0px ;
    margin-top: 0px;
}
.filtr-project{
    padding: 0px;
    border-radius: 4px;
    background: #F5F4FA;
    border: transparent;


& :hover{
    background: $accent-color;
    color:#ffffff;
}
& :hover .filtr-title{
    color: #FFFFFF;
}
}
.portfolio{
    border-top: 1px solid #ECECEC;
}
.filtr{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

.item:not(:last-child){
margin-right: 8px;
}
 &-title:hover{ 
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
     background-color: $accent-color 
 } 
&-title{
    padding: 6px 22px;
    margin: 0px;
    
    transition-property: color, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
&-title{
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
}