@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }

  .header__menu {
    display: flex;
  }

  .logo {
    font-size: 24px;
    padding-top: 26px;
  }

  .header__logo {
    margin-right: 88px;
  }

  .current::after {
    margin-bottom: -25px;
  }

  .contacts {
    margin-bottom: 0;
    font-size: 12px;
    text-align: start;
    margin-top: 21px;
  }

  .contacts__item:first-child {
    margin-bottom: 10px;
  }

  .navigation__list--item:not(:last-child) {
    margin-right: 50px;
  }

  .button__menu {
    display: none;
  }

  .header__navigation {
    font-size: 14px;
    padding-top: 32px;
    margin-right: 84px;
  }

  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_tablet.jpg);
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 354px;
  }

  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }

  .team__member {
    width: 354px;
  }

  .team__member:not(:nth-child(-n + 2)) {
    margin-bottom: 0;
  }

  .team__field {
    display: flex;
    flex-wrap: wrap;
  }

  .clients__item:nth-child(odd) {
    margin-right: 0;
  }

  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .clients__item {
    width: 226px;
  }

  .footer__title.joining {
    margin-right: 35px;
  }

  .signing__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signing__form--window {
    padding-right: 0;
  }

  .buttons--field {
    margin-left: 64px;
  }

  .works {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 354px;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__item:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  .footer__part {
    width: 100%;
  }

  .footer__part:not(:last-child) {
    width: 50%;
    margin-bottom: 0;
  }

  .footer__title.joining {
    margin-right: 0;
  }

  .portfolio__buttons {
    padding-bottom: 30px;
  }
}
