.team {
  background-color: $background-blue-color;
  padding-top: 60px;
  padding-bottom: 60px;
  width: auto;

  &__field {
    justify-content: space-between;
    margin-top: 50px;
  }
  &__title {
    text-align: center;
  }
  &__member {
    text-align: center;
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
  }

  &__member:not(:last-child) {
    margin-bottom: 30px;
  }
}

.name__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.member__information {
  padding-top: 30px;
}

.member__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.member__proffesion {
  margin-bottom: 16px;
  color: $primary-grey-color;
}
